astroplan>=0.10.1
astropy>=6.1.7
astropy-iers-data>=0.2025.4.14.0.37.22
DateTime>=5.5
numpy>=2.5
packaging>=24.2
pip>=26.2
pyerfa>=2.0.1.5
python-dotenv>=1.2.2
pytz>=2026.2
PyYAML>=6.0.3
setuptools>=78.1.0
six>=1.17.0
zope.interface>=7.2
python-dotenv>=1.2.2